useDynLib(mcIRT)

export(NRM.sim)
export(NLM.sim)
export(nelm)
export(nrm)
export(reshMG)
export(designTemp)
export(plotINF)
export(plot_ldistr)
export(model_comp)
export(DDF)

S3method(summary, nrm)
S3method(summary, nelm)
S3method(print, nrm)
S3method(print, nelm)
S3method(plot, nrm)
S3method(plot, nelm)
S3method(deviance, nrm)
S3method(deviance, nelm)
S3method(logLik, nrm)
S3method(logLik, nelm)
